<!-- app-head1 -->
<div id="head">
    <div class="app-head1">
        <div class="container">
            <div class="app-head1-left">
                <div class="left-item">
                    <a class="btn-green" href="<%=Host%>">首页</a>
                </div>
            </div>
            <div class="app-head1-right" style="display:none" v-show="userInfo != null">
                <div class="right-item">
                    <div class="dropdown" style="display: inline-block;height: 100%;">
                        <button class="user-down" id="dropdownMenu1" data-toggle="dropdown">
                            <img :src="userInfo&&userInfo.img?userInfo.img:'<%=Host%>/img/user.png'" alt="头像" class="user-img">
                            <p class="user-name">{{userInfo?userInfo.name:''}}</p>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="min-width: 120px">
                            <li>
                                <a href="<%=Host%>/page/userPersonal">个人中心</a>
                            </li>
                            <li v-show="userInfo&&userInfo.admin > 0">
                                <a href="<%=Host%>/page/admin">后台管理</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="javascript:;" @click='logout'>注销</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="app-head1-right" style="display:none" v-show="userInfo == null">
                <div class="right-item">
                    <a class="btn-green" href="javascript:;" @click="showloginModal()">登录</a>
                </div>
                <div class="right-item">
                    <a class="btn-green" href="<%=Host%>/page/register">注册</a>
                </div>
            </div>
        </div>
    </div>
        
        
    <div class="container" style="background-color: transparent;">
        <div class="row">
            <div class="col-sm-4 col-md-3">
                <a href="<%=Host%>"><img src="<%=Host%>/img/web_icon.png"/ style="width: 180px;height: auto;"></a>
            </div>
            <div class="col-sm-4 col-md-6">
                <div style="max-width: 300px;margin: auto;">
                    <div class="input-group search">
                        <input type="text" class="form-control" v-model="key" placeholder="文章查询">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" @click="goSearchPage()">搜索</button>
                            </span>
                    </div>
                </div>
                </div>
                <div class="col-sm-4 col-md-3" style="text-align: right;">
                <button class="btn btn-default btn-md send-btn" onclick = "location.href = '<%=Host%>/page/tougao'">
                    <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> 我要投稿
                </button>
            </div>
        </div>
    </div>
    <div class="container category">
        <div class="category-main">
            <a :href="baseUrl+'/page/category?category=1'">诗歌</a>
            <a :href="baseUrl+'/page/category?category=2'">散文</a>
            <a :href="baseUrl+'/page/category?category=3'">小说</a>
            <a :href="baseUrl+'/page/category?category=4'">戏剧</a>
            <a :href="baseUrl+'/page/category?category=5'">记叙</a>
            <a :href="baseUrl+'/page/category?category=6'">说明</a>
            <a :href="baseUrl+'/page/category?category=7'">议论</a>
            <a :href="baseUrl+'/page/category?category=8'">校闻</a>
            <a :href="baseUrl+'/page/activity'">活动</a>
        </div>
    </div>   
</div>

<script>
    var vm_head = new Vue({
        el: '#head',
        data: {
            ykwx: getStorage(),
            userInfo: getStorage().user? getStorage().user: null,
            // 查询变量
            key: ''
        },
        computed: {

        },
        methods: {
            logout: function(){
                if(this.ykwx.user) delete this.ykwx.user
                setStorage(this.ykwx)
                this.userInfo = null
                $._ajax({
                    type:"get",
                    url:"/user/logout"
                }).done(function(res){
                    if(res.status != 200){
                        fixedMsg({type:1,msg:res.msg})
                    }
                })
            },
            showloginModal: function(){
                if($("#loginModal").length == 0){
                    sessionStorage.lastPage = location.href
                    location.href = baseUrl+'/page/login'
                    return
                }
                $("#loginModal").modal({
                    keyboard: false
                })
            },
            userLogin: function(){
                if($('#user_account').val() == "" && $('#user_password').val() == ""){
                    showWarningMsg('#loginModal .modal-body','用户名或密码不能为空！')
                    return
                }
                var that = this
                $._ajax({
                    type:"get",
                    url:"/user/login",
                    data:{
                        account: $('#user_account').val(),
                        password: $('#user_password').val()
                    }
                }).done(function(res){
                    if(res.status != 200){
                        showWarningMsg('#loginModal .modal-body',res.msg)
                    }else{
                        $("#loginModal").modal('hide')
                        that.userInfo = res.data
                        that.ykwx.user = res.data
                        setStorage(that.ykwx)
                    }
                })
            },
            goSearchPage: function(){
                // 关键词不能为空
                if(/^(\s*)+$/.test(this.key)){
                    fixedMsg({type:2,msg:'关键词不能为空'})
                    return
                }
                location.href = baseUrl + "/page/search?key=" + this.key
            }
        }
    })
</script>